{
  "presets": [
    ["env", {
      "targets": {
        "node": "5.0"
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-stack-trace-sourcemap", {
        "importOverride": ["source-map-support", "install", "_sourceMapSupport"],
        "execute": true
    }]
  ],
  "sourceMaps": "inline"
}
