{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.14"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-stack-trace-sourcemap",
      {
        "importOverride": [
          "source-map-support",
          "install",
          "_sourceMapSupport"
        ],
        "execute": true
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
